.card-div {
    height: auto;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #263238;
    display: flex;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my_pic {
    object-fit: cover;
    max-height: 35rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.card-text {
    color: white;
    font-size: 3vh;
    margin-top: 0;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inconsolata', monospace;
}
.card-header {
    font-family: 'Merriweather', serif;
}
.card-inner-text {
    text-align: justify;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 2vw;
    line-height: 1.55;
    font-weight: 200;
}
#social-div {
    position:absolute;
    bottom: 0px;
    right: 5px;
    display: table-cell;
    text-align: left;
    font-size: 30px;
}
#social-div .social {
    padding-left: 0px;
    margin-bottom: 5px;
}
#social-div li {
    display: inline-block;
    text-align: center;
}
#social-div li a {
    color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-left: 10px;
    transition: ease 0.3s;
}
#social-div li a:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.social:hover > li {
    opacity: 0.5;
}
.social:hover > li:hover {
    opacity: 1;
}
@media only screen and (max-width: 480px), only screen and (orientation: portrait) {
    .card-div {
        height: 80%;
        flex-direction: column;
    }

    .card-text {
        font-size: 2vh;
    }

    .card-inner-text {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 667) {
    .card-div {
        height: 80%;
        flex-direction: column;
    }

    .card-text {
        font-size: 2vh;
    }

    .card-inner-text {
        font-size: 2vh;
    }
}
